Button {
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors: #5f89b9, #697182, #ffffff, #eeeeee;
}


closeBtn {
	upSkin:        Embed('/img/closeButton.png');
	overSkin:      Embed('/img/closeButton.png');
	downSkin:      Embed('/img/closeButton.png');
	disabledSkin:  Embed('/img/closeButton.png');
}
increaseBtn {
	upSkin:        Embed('/img/increaseButton.png');
	overSkin:      Embed('/img/increaseButton.png');
	downSkin:      Embed('/img/increaseButton.png');
	disabledSkin:  Embed('/img/increaseButton.png');
}

minimizeBtn {
	upSkin:        Embed('/img/minimizeButton.png');
	overSkin:      Embed('/img/minimizeButton.png');
	downSkin:      Embed('/img/minimizeButton.png');
	disabledSkin:  Embed('/img/minimizeButton.png');
}
resizeHndlr {
	upSkin:        Embed('/img/resizeHandler.png');
	overSkin:      Embed('/img/resizeHandler.png');
	downSkin:      Embed('/img/resizeHandler.png');
	disabledSkin:  Embed('/img/resizeHandler.png');
}